//@font-face {
//  font-family: 'Montserrat';
//  src: url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
//  url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
//}

@font-face {
  font-family: 'Roobert-Regular';
  src: url('../fonts/Roobert-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roobert-Heavy';
  src: url('../fonts/Roobert-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Hanson-Bold';
  src: url('../fonts/Hanson-Bold.woff2') format('woff2');
}
